body {
    background-color: #3fc1d6;
    color: #ebebeb;
    font-family: 'Titillium Web', sans-serif;
    padding: 0;
    margin: 0;
    font-size: 18px;
}

header {
    text-align: center;
    background-color: #559851;
    padding: 15px;
    font-size: 30pt;
    margin-bottom: 30px;
}

a {
    color: #ebebeb;
}

p {
    max-width: 800px;
    padding: 30px;
    background-color: #41a443;
    border-radius: 10px;
    margin: 0 auto 15px auto;
}

.container {
    text-align: center;
    background-color: #358637;
}