
body {
	-webkit-font-smoothing: antialiased;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
 	font-weight: 300;
}
/* header */
header {
	width: 100%;
	height: 80px;

	position: fixed;
	z-index: 10;


	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
	filter: alpha(opacity=80);
    	-moz-opacity: 0.90;
    	-khtml-opacity: 0.9;
    	opacity: 0.9;

	background: #5092f9; /* Old browsers */
	background: -moz-linear-gradient(left,  #5092f9 0%, #463dc5 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#5092f9), color-stop(100%,#463dc5)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #5092f9 0%,#463dc5 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #5092f9 0%,#463dc5 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #5092f9 0%,#463dc5 100%); /* IE10+ */
	background: linear-gradient(to right,  #5092f9 0%,#463dc5 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5092f9', endColorstr='#463dc5',GradientType=1 ); /* IE6-9 */
}

header  h1 {

	padding-left: 20px;
	
	color: white;
}

/* content */
#content {
	height: 800px;
	width: 100%;

	display: block;
	z-index: 0;

	background-color: #ebebeb;
}

.textPlace {
	padding: 20px;
	
	margin: 10px;
	border-radius: 15px;
	background-color: white;
}

#tp1 {
}

/* footer */
footer {
	width: 100%;
	height: 160px;

	display: block;
	text-align: center;

	background-color: #fefff2;
}
footer img {

	display: inline-block;

	margin: 0 auto;
}

#footerText p {
	display: inline-block;
	font-weight: bold;
	margin: 0;
}
